.script-templates
    // == START OF PRESENTATION NAVBAR ==
    //this component is used for easier navigation and is not a part of the Phoenix tool. Yet, you still are free to use it in your projects if you want.
    <script id="components_presentations_components_navigation_bar" type="text/template">
    include ../components/presentations_components/navigation_bar
    </script>
    // == END OF PRESENTATION NAVBAR ==
    // ____________________________
    // == START OF MENU COMPONENTS ==
    <script id="components_menu_01" type="text/template">
    include ../components/menu/01--desktop
    </script>
    <script id="components_menu_01" type="text/template">
    include ../components/menu/01
    </script>
    <script id="components_menu_02" type="text/template">
    include ../components/menu/02--desktop
    </script>
    <script id="components_menu_03" type="text/template">
    include ../components/menu/03
    </script>
    <script id="components_menu_05" type="text/template">
    include ../components/menu/05
    </script>
    <script id="components_menu_06" type="text/template">
    include ../components/menu/06
    </script>
    <script id="components_menu_07" type="text/template">
    include ../components/menu/07
    </script>
    <script id="components_menu_08" type="text/template">
    include ../components/menu/08
    </script>
    <script id="components_menu_13" type="text/template">
    include ../components/menu/13
    </script>
    <script id="components_menu_14" type="text/template">
    include ../components/menu/14
    </script>
    // == END OF MENU COMPONENTS ==
    // ____________________________
    // == START OF COVER COMPONENTS ==
    <script id="components_covers_01" type="text/template">
    include ../components/covers/01
    </script>
    <script id="components_covers_02" type="text/template">
    include ../components/covers/02
    </script>
    <script id="components_covers_03" type="text/template">
    include ../components/covers/03
    </script>
    <script id="components_covers_04" type="text/template">
    include ../components/covers/04
    </script>
    <script id="components_covers_05" type="text/template">
    include ../components/covers/05
    </script>
    <script id="components_covers_06" type="text/template">
    include ../components/covers/06
    </script>
    <script id="components_covers_07" type="text/template">
    include ../components/covers/07
    </script>
    <script id="components_covers_08" type="text/template">
    include ../components/covers/08
    </script>
    <script id="components_covers_09" type="text/template">
    include ../components/covers/09
    </script>
    <script id="components_covers_10" type="text/template">
    include ../components/covers/10
    </script>
    <script id="components_covers_11" type="text/template">
    include ../components/covers/11
    </script>
    <script id="components_covers_12" type="text/template">
    include ../components/covers/12
    </script>
    <script id="components_covers_13" type="text/template">
    include ../components/covers/13
    </script>
    <script id="components_covers_14" type="text/template">
    include ../components/covers/14
    </script>
    <script id="components_covers_15" type="text/template">
    include ../components/covers/15
    </script>
    <script id="components_covers_16" type="text/template">
    include ../components/covers/16
    </script>
    <script id="components_covers_17" type="text/template">
    include ../components/covers/17
    </script>
    <script id="components_covers_18" type="text/template">
    include ../components/covers/18
    </script>
    <script id="components_covers_19" type="text/template">
    include ../components/covers/19
    </script>
    <script id="components_covers_20" type="text/template">
    include ../components/covers/20
    </script>
    <script id="components_covers_21" type="text/template">
    include ../components/covers/21
    </script>
    // == END OF COVER COMPONENTS ==
    // ____________________________
    // == START OF call_to_action COMPONENTS ==
    <script id="components_call_to_actions_01" type="text/template">
    include ../components/call_to_actions/01
    </script>
    <script id="components_call_to_actions_02" type="text/template">
    include ../components/call_to_actions/02
    </script>
    <script id="components_call_to_actions_03" type="text/template">
    include ../components/call_to_actions/03
    </script>
    <script id="components_call_to_actions_04" type="text/template">
    include ../components/call_to_actions/04
    </script>
    <script id="components_call_to_actions_05" type="text/template">
    include ../components/call_to_actions/05
    </script>
    <script id="components_call_to_actions_06" type="text/template">
    include ../components/call_to_actions/06
    </script>
    <script id="components_call_to_actions_07" type="text/template">
    include ../components/call_to_actions/07
    </script>
    <script id="components_call_to_actions_08" type="text/template">
    include ../components/call_to_actions/08
    </script>
    <script id="components_call_to_actions_09" type="text/template">
    include ../components/call_to_actions/09
    </script>
    <script id="components_call_to_actions_10" type="text/template">
    include ../components/call_to_actions/10
    </script>
    <script id="components_call_to_actions_11" type="text/template">
    include ../components/call_to_actions/11
    </script>
    <script id="components_call_to_actions_12" type="text/template">
    include ../components/call_to_actions/12
    </script>
    <script id="components_call_to_actions_13" type="text/template">
    include ../components/call_to_actions/13
    </script>
    <script id="components_call_to_actions_14" type="text/template">
    include ../components/call_to_actions/14
    </script>
    <script id="components_call_to_actions_15" type="text/template">
    include ../components/call_to_actions/15
    </script>
    <script id="components_call_to_actions_16" type="text/template">
    include ../components/call_to_actions/16
    </script>
    <script id="components_call_to_actions_17" type="text/template">
    include ../components/call_to_actions/17
    </script>
    <script id="components_call_to_actions_18" type="text/template">
    include ../components/call_to_actions/18
    </script>
    <script id="components_features_01" type="text/template">
    include ../components/features/01
    </script>
    <script id="components_features_02" type="text/template">
    include ../components/features/02
    </script>
    <script id="components_features_03" type="text/template">
    include ../components/features/03
    </script>
    <script id="components_features_04" type="text/template">
    include ../components/features/04
    </script>
    <script id="components_features_05" type="text/template">
    include ../components/features/05
    </script>
    <script id="components_features_06" type="text/template">
    include ../components/features/06
    </script>
    <script id="components_features_07" type="text/template">
    include ../components/features/07
    </script>
    <script id="components_features_08" type="text/template">
    include ../components/features/08
    </script>
    <script id="components_features_09" type="text/template">
    include ../components/features/09
    </script>
    <script id="components_features_10" type="text/template">
    include ../components/features/10
    </script>
    <script id="components_features_11" type="text/template">
    include ../components/features/11
    </script>
    <script id="components_features_12" type="text/template">
    include ../components/features/12
    </script>
    <script id="components_partners_01" type="text/template">
    include ../components/partners/01
    </script>
    <script id="components_partners_02" type="text/template">
    include ../components/partners/02
    </script>
    <script id="components_partners_03" type="text/template">
    include ../components/partners/03
    </script>
    <script id="components_counters_01" type="text/template">
    include ../components/counters/01
    </script>
    <script id="components_counters_02" type="text/template">
    include ../components/counters/02
    </script>
    <script id="components_counters_03" type="text/template">
    include ../components/counters/03
    </script>
    <script id="components/testimonials/01" type="text/template">
    include ../components/testimonials/01
    </script>
    <script id="components/testimonials/02" type="text/template">
    include ../components/testimonials/02
    </script>
    <script id="components/testimonials/03" type="text/template">
    include ../components/testimonials/03
    </script>
    <script id="components/testimonials/04" type="text/template">
    include ../components/testimonials/04
    </script>
    <script id="components/testimonials/05" type="text/template">
    include ../components/testimonials/05
    </script>
    <script id="components/testimonials/06" type="text/template">
    include ../components/testimonials/06
    </script>
    <script id="components_about_01" type="text/template">
    include ../components/about/01
    </script>
    <script id="components_about_02" type="text/template">
    include ../components/about/02
    </script>
    <script id="components_about_03" type="text/template">
    include ../components/about/03
    </script>
    <script id="components_about_04" type="text/template">
    include ../components/about/04
    </script>
    <script id="components_about_05" type="text/template">
    include ../components/about/05
    </script>
    <script id="components_about_06" type="text/template">
    include ../components/about/06
    </script>
    <script id="components_about_07" type="text/template">
    include ../components/about/07
    </script>
    <script id="components_about_08" type="text/template">
    include ../components/about/08
    </script>
    <script id="components_contents_01" type="text/template">
    include ../components/contents/01
    </script>
    <script id="components_contents_02" type="text/template">
    include ../components/contents/02
    </script>
    <script id="components_contents_03" type="text/template">
    include ../components/contents/03
    </script>
    <script id="components_contents_04" type="text/template">
    include ../components/contents/04
    </script>
    <script id="components_contents_05" type="text/template">
    include ../components/contents/05
    </script>
    <script id="components_team_01" type="text/template">
    include ../components/team/01
    </script>
    <script id="components_team_02" type="text/template">
    include ../components/team/02
    </script>
    <script id="components_team_03" type="text/template">
    include ../components/team/03
    </script>
    <script id="components_works_01" type="text/template">
    include ../components/works/01
    </script>
    <script id="components_works_02" type="text/template">
    include ../components/works/02
    </script>
    <script id="components_works_03" type="text/template">
    include ../components/works/03
    </script>
    <script id="components_works_04" type="text/template">
    include ../components/works/04
    </script>
    <script id="components_footers_01" type="text/template">
    include ../components/footers/01
    </script>
    <script id="components_footers_02" type="text/template">
    include ../components/footers/02
    </script>
    <script id="components_footers_03" type="text/template">
    include ../components/footers/03
    </script>
    <script id="components_footers_04" type="text/template">
    include ../components/footers/04
    </script>
    <script id="components_footers_05" type="text/template">
    include ../components/footers/05
    </script>
    <script id="components_footers_06" type="text/template">
    include ../components/footers/06
    </script>
    <script id="components_footers_07" type="text/template">
    include ../components/footers/07
    </script>
    <script id="components_prices_01" type="text/template">
    include ../components/prices/01
    </script>
    <script id="components_prices_02" type="text/template">
    include ../components/prices/02
    </script>
    <script id="components_prices_03" type="text/template">
    include ../components/prices/03
    </script>
    <script id="components_prices_04" type="text/template">
    include ../components/prices/04
    </script>
    <script id="components_contacts_01" type="text/template">
    include ../components/contacts/01
    </script>
    <script id="components_contacts_02" type="text/template">
    include ../components/contacts/02
    </script>
    <script id="components_contacts_03" type="text/template">
    include ../components/contacts/03
    </script>
    <script id="components_contacts_04" type="text/template">
    include ../components/contacts/04
    </script>
    <script id="components_popups_video" type="text/template">
    include ../components/popups/video
    </script>
    // == END OF VIDEO POPUP COMPONENT ==
    // ____________________________
    // Never miss free updates and get new breathtaking components first!
    // https://twitter.com/ui_market
    // Feel free to ask any questions: hello@ui-market.com