doctype html
html
	head
		//the must have tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")

		//the must have assets
		link(rel="stylesheet", href="css/phoenix.css")
		link(rel="stylesheet", href="css/main.css")
		//place your Google Maps API key here:
		//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfh_GTuZk_GKM0YwY-RQ7OBs6sAMcBGUg", defer)
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="a")
		script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
		script(src="js/main.js", defer)

		script(src="https://cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8")


		//page title
		title
			| Blip - Onepage Websites
	body
		main.page_wrapper.page_wrapper--presentation-navbar
			//include layout/components-list
			include layout/renderer.html
			h4.text-center
				| Quickly stub out webpages, and publish to Github Pages
			include layout/preview.html
			include layout/script-templates
	.js-overlay.js-close-navigation.js-close-menu.overlay