@import "components-modal";

body {
    background-color: #cccccc !important;
}

.preview-container {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}

#preview {
    border-radius: 3px;
    transform: scale(0.8);
    transform-origin: center top;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    &:empty {
        background: rgba(255,255,255,0.95);
        height: 60vw;
        line-height: 60vw;
        text-align: center;
        &:before {
            content: "+";
            font-size: 68px;
            color: rgba(0,0,0,0.5);
            display: inline-block;
            vertical-align: center;
        }
    }
}

.container {
    height: 100%;
}

[style*="background-image"] {
    position: relative;
    &:hover {
        .image-editor-controls {
            display: block;
        }
    }
}

.image-editor-controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    display: none;

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        float: right;
    }

    label {
        padding: 10px 16px;
        font-size: 14px;
        background: #e05555;
        color: white;
        cursor: pointer;
    }

    label:focus,
    input:focus + label,
    label:active,
    input:active + label{
        background: #e05555 - #111;
    }
}

