@import "components-modal";

body {
    background-color: #e2e1e0 !important;
}

#preview {
    border-radius: 3px;
    transform: scale(0.6);
    transform-origin: center top;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    &:empty {
        background: rgba(255,255,255,0.95);
        height: 60vw;
        line-height: 60vw;
        text-align: center;
        &:before {
            content: "+";
            font-size: 68px;
            color: rgba(0,0,0,0.5);
            display: inline-block;
            vertical-align: center;
        }
    }
}